entorno_flask/
__pycache__/
.env

# ignora todos los elemntos (archivos y sub capetas ) de la carpeta media
media/*
#Pero haz una excepcion en le archivo :
#si queremos exeptuar un archivo deberemos enronces usar el * para indicar previamente que los sub archvios no sean considerados mas no toda la capeta
!media/not_found.jpg